
body{
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color:#EAF6F6;
}
p{
  line-height: 2;
}
.top-cloud{
  position:absolute;
  right:500px
}
.bottom-cloud{
  position: absolute;
  left: 400px;

}
h1{
  color:#16697A;
  margin-top: 100px;
  font-family: 'Sacramento', cursive;
  font-size:3.125rem;/*50/16=3.125 way to convert px into em..use rem to fix for particular tag*/
  line-height: 2;
}
h2{
  color:#16697A;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
h3{
  color:#03506f;
  font-family: 'Montserrat', sans-serif;
}
.About-Me{
  position: relative;
}

.work-img{
  width: 50%;
  float:right;
  margin-left: 30px;
}
a:link, a:visited {
  background-color: #ea2c62;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.bottom-container{
  background-color: #16697A
}
hr{
border:none;
border-top-style:dotted;
border-color: grey;
border-width:5px;
width:5%;
}
